[submodule "web-frontend"]
	path = web-frontend
	url = https://mygit.th-deg.de/schober-teaching/student-projects/ain-23-software-engineering/ss-25/Sosyo/web-frontend.git
[submodule "model-backend"]
	path = model-backend
	url = https://mygit.th-deg.de/schober-teaching/student-projects/ain-23-software-engineering/ss-25/Sosyo/model-backend.git
[submodule "web-backend"]
	path = web-backend
	url = https://mygit.th-deg.de/schober-teaching/student-projects/ain-23-software-engineering/ss-25/Sosyo/web-backend.git
